<div id="main" class="row h-100 justify-content-center align-items-center">
  <div class="col text-center text-white">
    <div class="logo">
        <h1>RIFALDHI
          <br>ARDHI
          <br>WIYANTO</h1>
    </div>
    <div class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Deleniti maiores dolorum provident tempore cum facilis,<br> a ratione
          fugit vel, veritatis consequuntur sed dolore sunt,<br> ducimus ab similique fugiat ipsum dicta. </p>
    </div>
    <div class="w-100 my-4"></div>
    <button class="btn px-4">Contact</button>
    <span class="mx-3"></span>
    <button class="btn btn-warning px-4">Resume</button>
  </div>
</div>