@import '../../assets/custom-bootstrap';

#section-scroll {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50px;
  background: white;
}

.kotak{
  width: 15px;
  height: 15px;
  background: $orange;
  margin: auto;
  border-radius: 2px;
}