<div id="sidebar" class="row h-100 justify-content-center align-items-center">
  <div class="col text-center">
    <a 
      routerLink="">
      <h2 class="font-weight-bold my-5 p-5">Rifaldhi
        <span class="text-warning">AW</span>
      </h2>
    </a>
    <div id="link-list" class="my-5">
      <div class="font-weight-bold my-3 active">
        <a 
          routerLink=""  
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          HOME
        </a>
      </div>
      <div class="font-weight-bold my-3">
        <a 
          routerLink="/about"  
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          ABOUT
        </a>
      </div>
      <div class="font-weight-bold my-3">
        <a 
          routerLink="/skills"  
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          SKILLS
        </a>
      </div>
      <div class="font-weight-bold my-3">
        <a 
          routerLink="/works"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          WORKS
        </a>
      </div>
      <div class="font-weight-bold my-3">
        <a 
          routerLink="/contact"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          CONTACT
        </a>
      </div>
    </div>
    <div class="row my-link mt-5 p-5">
      <div class="col">
        <a href="http://github.com/rifaldhiaw" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col">
        <a href="http://instagram.com/rifaldhiaw" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col">
        <a href="http://twitter.com/rifaldhiaw" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>